<h3><i class="fas fa-project-diagram"></i> Job Matcher </h3>
<div class="section">
    <p class="lead">
        Match with the perfect employer/employee from the comfort of your home!
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/login" class="btn red darken-1"> Login </a>
    <a href="/signup" class="btn blue darken-1"> SignUp </a>
</div>
</div>
