


<h3><i class="fas fa-project-diagram"></i> Job Matcher </h3>
<div class="section">
    <p class="lead">
        Match with the perfect employer/employee from the comfort of your home!
    </p>
</div>
<h4> Login </h4>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <form action="/homefeed" method="POST" enctype="multipart/form-data" class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Log in" class="btn">
            <a href="/homefeed" class="btn red darken-1">Cancel</a>
        </div>
        </form>
    </div>
</div>


