<h3><i class="fas fa-project-diagram"></i> Job Matcher Signup </h3>
<div class="section">
    <p class="lead">
        Match with the perfect employer/employee from the comfort of your home!
    </p>
</div>
<h4> Sign Up </h4>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <form action="/" method="POST" enctype="multipart/form-data" class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <input id="fname" type="text" name="fname">
            <label for="fname">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="lname" type="text" name="lname">
            <label for="lname">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="skills" type="text" name="skills">
            <label for="Skills">Skills</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="looking" type="text" name="looking">
            <label for="looking">Looking For</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Sign up" class="btn">
            <a href="/" class="btn red darken-1">Cancel</a>
        </div>
        </form>
    </div>
</div>