/* whatever style you want put here and it will reflect on the webpage , like making 
background black or something , adding images maybe */

/*body { 
    background: black;
}*/

p {
    margin: 10px 0 !important;
}
.login-container {
    width: 450px;
    margin-top: 50px;
    text-align: center;
}